<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Update</title>
</head>

<body>
    <form action="/students/update/<%= maSinhVien %>/<%= tenSinhVien %>" method="post">
        <input type="text" name="id" value="<%= id %>" readonly="readonly" />
        <label>Mã Sinh viên:<input name="maSinhVien" type="text" value="<%= maSinhVien %>" readonly="readonly"/></label><br/>
        <label>Tên:<input name="tenSinhVien" type="text" value="<%= tenSinhVien %>" readonly="readonly"/></label><br/>
        <label>Ngày sinh:<input name="ngaySinh" type="text" value="<%= ngaySinh %>"  /></label><br/>
        <label>Avata:<input name="avatar" type="text" value="<%= avatar %>" /></label><br/>

        <input type="submit" value="UPDATE" />
        <input type="reset" value="RESET" />
    </form>
    <input type="button" onclick="location.href='/'" value="Back" />
</body>

</html>